.footer {
  color: rgb(129, 129, 129);
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 0 250px 20px;
}

.links {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.disclaimer {
  display: flex;
  flex-direction: row;
  margin: 16px;
  font-size: 10px;
  color: #888;
  text-align: justify;
  margin-bottom: 8px;
}

@media screen and (max-width: 460px) {
  .links {
    flex-direction: column;
  }
}

a {
  color: rgb(129, 129, 129);
  margin: $default-spacing 0;

  .button {
    box-shadow: none;
  }
}
